.page-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #c3bfbf;
  border-radius: 15px;
  color: rgb(15, 15, 15);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.5);
}

.page-container h1 {
  color: #3f3f3f;
  font-weight: 900;
  margin-bottom: 20px;
  text-shadow: 1px 1px 6px #414040;
}

.page-container p,
.page-container li {
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.6;
  color: #0e0d0d;
}

.page-container ul {
  padding-left: 20px;
  list-style-type: disc;
}

